@font-face {
    font-family: Orbitron;
    src: url(Orbitron-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.footer {
    display: block;
    background-color: #522878;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Orbitron;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
}

.banner {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
}

.letter {
    position: absolute;
}

.letter.__first {
    left: 20%;
    bottom: 20%;
}

.letter.__second {
    right: 15%;
    top: 18%;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner:before {
    position: absolute;
    top: 80%;
    left: 41%;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0;
}


.banner-text {
    position: absolute;
    font-size: 20px;
    bottom: 10px;
    right: 10px;
    color: #9f0ef6;
}

.banner-image {
    width: 100%;
}

.letter {
    transition: filter .3s;
}

.letter,
.banner-text {
    z-index: 9999;
}

.banner:before,
.banner-text,
.banner-image {
    opacity: 0;
    transition: opacity .3s;
}

.banner:hover:before,
.banner:hover .banner-text,
.banner:hover .banner-image {
    opacity: 1;
}

.banner:hover .letter {
    filter: drop-shadow(0px 0px 20px #9f0ef6);
}

.banner:hover:before {
    opacity: 1;
    animation: moving 5s infinite;
}

.banner:active {
    animation: shaking 1.5s ease-in;
}

@keyframes moving {
    0% {
        transform: translate(0);
    }

    8% {
        transform: translate(-60px, -100px);
    }

    16% {
        transform: translate(-20px, -100px);
    }

    24% {
        transform: translate(-1px, -45px);
    }

    33% {
        transform: translate(-1px, -137px);
    }

    41% {
        transform: translate(28px, -137px);
    }

    49% {
        transform: translate(28px, -97px);
    }

    57% {
        transform: translate(58px, -97px);
    }

    65% {
        transform: translate(42px, -65px);
    }

    74% {
        transform: translate(90px, -65px);
    }

    82% {
        transform: translate(90px, -33px);
    }

    91% {
        transform: translate(28px, -33px);
    }
}

@keyframes shaking {
    0% {
        transform: translate(0);
    }

    12%, 37%, 63%, 88% {
        transform: translateX(-20%);
    }

    25%, 50%, 75% {
        transform: translateX(20%);
    }
}
