<div class="game">
    <div id="field">
        <div id="user">
            <img class="steve" />
        </div>
        <div class="barrier">
            <img class="mine-block" />
            <img class="mine-block" />
            <img class="mine-block" />
        </div>
        <img class="background" alt="background" />
        <img id="bonfire" />
    </div>
    <div id="right-panel">
        <div class="banner">
            <div id="time-left"></div>
            <div class="info">
                <span>
                    Осталось попыток
                </span>
                <span id="attempts-left">
                </span>
            </div>
            <div class="info">
                <span>
                    Осталось попаданий
                </span>
                <span id="hits-left">
                </span>
            </div>
            <div class="info">
                <span>
                    Очки
                </span>
                <span id="points">
                </span>
            </div>
            <div class="space-container margin-top">
                <button id="quit-btn" class="btn" type="button">
                    Выйти
                </button>
            </div>
        </div>
    </div>
</div>
