@import "extends";
@import "index";

.authorization-popup {
  @extend %wrapper;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 300px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-field {
  padding: 10px;
  border-radius: 15px;
  border: none;
}

#login-submit {
  @extend .btn;
  margin-top: 30px;
}
