*, *:before, *:after {
  box-sizing: border-box;
  font-family: Arial;
  color: #000;
}

// Sizes
$navbar-height: 90px;
$br: 50px;

// Colors
$c-default: #b0b0b0;
$c-surface: #f6f6f6;

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  padding-top: $navbar-height;
}

nav {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  display: block;

  &.__clear {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &.__primary {
    background-color: $c-surface;
    color: $c-default;
  }

  &.__round {
    padding: 10px;
    border-radius: 50%;
  }
}

.navbar {
  background-color: #fff;
  width: 100%;
  height: $navbar-height;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header {
  margin: 0;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  color: $c-default;

  &.__active {
    color: unset;
  }

  + .navbar-link {
    margin-left: 30px;
  }
}

.navbar-controls {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-search-field {
  border: none;
  height: 100%;
  padding: 0 30px;
  border-radius: $br;
  background-color: #f6f6f6;
}
