@import "constants";
@import "extends";

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

ul {
  list-style: none;
}

.margin-top {
  margin-top: 10px;
}

.space-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg;
}

.background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

#field {
  position: relative;
  width: 1200px;
  height: 700px;
  background-color: gray;
  overflow: hidden;
}

#bonfire {
  position: absolute;
  bottom: 0;
  width: 100px;

  img {
    width: 100%;
  }
}

.steve {
  width: 120px;
  transform: scaleX(-1);
}

.steve.__inverse {
  transform: unset;
}

#user {
  position: absolute;
  left: 0;
  bottom: 0;
}

#computer {
  position: absolute;
  left: 0;
  bottom: 0;
}

#tnt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
}

#tnt.__active {
  animation: 1s infinite tnt-throbbing;
}

.barrier {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.mine-block {
  width: 128px;
  height: 128px;
}

$arrowWidth: 60px;

#arrow {
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX($arrowWidth) translateY(-50%);
  transform-origin: -$arrowWidth;
}

#force-bar {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 15px;
  transform: translateX(-50%);
  border-radius: 15px;
  border: 2px solid #fff;
  overflow: hidden;
  width: 30vw;
  height: 30px;

  .progress {
    background: $bg;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
  }
}

.game {
  display: flex;
}

#right-panel {
  padding: 0 10px;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  @extend %wrapper;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  @extend %wrapper;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  margin-top: 10px;
}

#time-left {
  @extend .info;
  margin: 5px;
  font-size: 22px;
  width: fit-content;
}

@keyframes tnt-throbbing {
  50% {
    transform: translate(-50%, -50%) scale(1.25) rotate(20deg);
  }
}
