// Sizes
$navbar-height: 90px;
$gap-x: 5px;
$gap-2x: $gap-x * 2;
$gap-4x: $gap-2x * 2;
$br: 50px;

// Time
$time-x: .15s;
$time-2x: $time-x * 2;

// Colors
$c-default: #b0b0b0;
$c-on-surface: #8a8a8a;
$c-surface: #f6f6f6;
$c-surface-dark: #e7e7e7;